- content_for :title, 'Sign up'

.row
  .col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
    .card.mt-3
      .card-header
        %h2.panel-title Sign up
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .card-body
          = f.input :email, autofocus: true
          = f.input :password, autocomplete: 'off', hint: ("(#{@minimum_password_length} characters minimum)" if @minimum_password_length)
          = f.input :password_confirmation, autocomplete: 'off'
          = f.input :role, as: :radio_buttons, collection: ['student', 'lecturer', 'facilitator']
        .card-footer
          %button.btn.btn-primary{ type: :submit }
            Sign up
          .mt-3= render "devise/shared/links"
