- content_for :title, "Edit my details"

.card
  .card-header
    Edit my details 
  = simple_form_for(@user, html: { id: 'user-form' } ) do |f|
    .card-body
      = f.input :name
      = f.input :email
      = f.input :role , as: :radio_buttons, collection: ['student', 'lecturer', 'facilitator']

    .card-footer
      = f.button :submit, class: 'btn btn-primary'
    