= simple_form_for(@post, html: { id: 'posts-form' } ) do |f|
  .card-body

    = f.input :title
    = f.input :content
    = f.input :private_post

  .card-footer.d-flex
    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Back', posts_path, class: 'btn btn-link ms-auto'
