- content_for :title, 'All posts'
.card
  .card-header
    All posts
  %table.table
    %thead
      %tr
        %th Title
        %th Author
        %th

    %tbody
      - @posts.each do |post|
        %tr[post]
          %td= post.title
          %td= post.author_name
          %td
            .text-right
              .btn-group
                = link_to 'Show', post, class: 'btn btn-link'
                = link_to 'Edit', edit_post_path(post), class: 'btn btn-link'
                = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-link'

  .card-footer
    = link_to 'New Post', new_post_path, class: 'btn btn-secondary'
